<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    
<!--  
   Copyright 2014 - 
   Licensed under the Academic Free License version 3.0
   http://opensource.org/licenses/AFL-3.0

   Authors: Alex Verkhovtsev, Karen
   
   Version 0.1 - Spring 2014
-->
    
    

    <!-- ADMIN SERVLET: Record -->


	<servlet>
		<servlet-name>AddRecordServlet</servlet-name>
		<servlet-class>localolympics.servlet.AddRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRecordServlet</servlet-name>
		<url-pattern>/auth/admin/addRecord</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteRecordServlet</servlet-name>
		<servlet-class>localolympics.servlet.DeleteRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRecordServlet</servlet-name>
		<url-pattern>/auth/admin/deleteRecord</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateRecordServlet</servlet-name>
		<servlet-class>localolympics.servlet.UpdateRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRecordServlet</servlet-name>
		<url-pattern>/auth/admin/updateRecord</url-pattern>
	</servlet-mapping>







    <!-- ADMIN SERVLET: Participant -->

	<servlet>
	    <servlet-name>UpdateParticipantServlet</servlet-name>
	    <servlet-class>localolympics.servlet.UpdateParticipantServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UpdateParticipantServlet</servlet-name>
	    <url-pattern>/auth/admin/updateparticipant</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	    <servlet-name>DeleteParticipantServlet</servlet-name>
	    <servlet-class>localolympics.servlet.DeleteParticipantServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeleteParticipantServlet</servlet-name>
	    <url-pattern>/auth/admin/deleteparticipant</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>AddParticipantServlet</servlet-name>
	    <servlet-class>localolympics.servlet.AddParticipantServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AddParticipantServlet</servlet-name>
	    <url-pattern>/auth/admin/addparticipant</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- participant1 -->
	
	<servlet>
		<servlet-name>AddParticipantServlet1</servlet-name>
		<servlet-class>localolympics.servlet.AddParticipantServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddParticipantServlet1</servlet-name>
		<url-pattern>/auth/admin/addParticipant1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteParticipantServlet1</servlet-name>
		<servlet-class>localolympics.servlet.DeleteParticipantServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteParticipantServlet1</servlet-name>
		<url-pattern>/auth/admin/deleteParticipant1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateParticipantServlet1</servlet-name>
		<servlet-class>localolympics.servlet.UpdateParticipantServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateParticipantServlet1</servlet-name>
		<url-pattern>/auth/admin/updateParticipant1</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- ACTIVITY -->
	<servlet>
		<servlet-name>AddActivityServlet</servlet-name>
		<servlet-class>localolympics.servlet.AddActivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddActivityServlet</servlet-name>
		<url-pattern>/auth/admin/addActivity</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>UpdateActivityServlet</servlet-name>
	    <servlet-class>localolympics.servlet.UpdateActivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UpdateActivityServlet</servlet-name>
		<url-pattern>/auth/admin/UpdateActivity</url-pattern>
		</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteActivityServlet</servlet-name>
	    <servlet-class>localolympics.servlet.DeleteActivityServlet</servlet-class>
	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeleteActivityServlet</servlet-name>
	    <url-pattern>/auth/admin/deleteActivity</url-pattern>
	</servlet-mapping>
	
	
	
	
	<!--  OPEN ID  -->
	
	<servlet>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <servlet-class>localolympics.servlet.LoginRequiredServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <url-pattern>/_ah/login_required</url-pattern>
    </servlet-mapping>
	
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>all</web-resource-name>
	        <url-pattern>/auth/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>*</role-name>
	    </auth-constraint>
	</security-constraint>
	
	

	<!-- WELCOME FILE -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
